<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intervarsity Website</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2f46dda1b7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <!-- NAV BAR IS HERE -->
    <nav class="navbar navbar-expand-xl bg-body-white">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/Intervarsity Horizontal Logo_abbrev.png') }}" style="width: 200px; height: 60px;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Nav Items -->
            <div class="collapse navbar-collapse d-flex justify-content-center" style = "width:100%" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item "><a class="nav-link navI" aria-current="page" href="#">Home</a></li>
                    <li class="nav-item "><a class="nav-link navI" aria-current="page" href="#">Features</a></li>
                    <li class="nav-item "><a class="nav-link navI" aria-current="page" href="#">Pricing</a></li>
                    <!-- Dropdown Item -->
                    <li class="nav-item dropdown navI">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            About Us
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Meet The Team!</a></li>
                            <li><a class="dropdown-item" href="#">Our Mission</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div>
        {% block content %} {% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>


{% block content %}
<div class="text-center">
    <h1>WPI Intervarsity Website</h1>
</div>

<h3>Our Values</h3>
<h3>Our Mission</h3>
<p>
The purpose of InterVarsity Christian Fellowship/USA
is to establish and advance
at colleges and universities
witnessing communities of students and faculty
who follow Jesus as Savior and Lord:
growing in love for God,
God's Word,
God's people of every ethnicity and culture,
and God's purposes in the world.
</p>
<h3>Meet Our Leaders!</h3>
<div class = "leaders">
<ul class = 'horizontal-list' style ="list-style-type: none">

    <li>
    <div class='thumbnail'>

            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{{ url_for('static', filename='images/female_user_large.png') }}" alt="PNG Example"></p>
            <h3>Thumbnail label</h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Label2</p>
            
    </div>
    </li>
    <li>
        <div class='thumbnail'>
    
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{{ url_for('static', filename='images/female_user_large.png') }}" alt="PNG Example"></p>
                <h3>Thumbnail label</h3>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Label2</p>
                
        </div>
        </li>



</ul>
</div>

Joshua Gifford Profile
Joshua Gifford
Treasurer

GlorieAnn Minnich Profile
GlorieAnn Minnich
Advisor

David Barber Profile
David Barber
Worship Director

Brenna Pfisterer Profile
Brenna Pfisterer
Communications Director

Ethan Glasby Profile
Ethan Glasby
Bible Study Director

Elijah Jones Profile
Elijah Jones
Outreach Director
<!-- some type of carousel here with pictures -->
{% endblock %}

